
body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

h1{
    margin: 0;
}

h3{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
/* general */

.flex{
    display: -webkit-inline-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}


.flex-column{
    display: -webkit-inline-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex-row{
    display: -webkit-inline-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.font400{
    font-weight: 400;
}

.font500{
    font-weight: 500;
}

.font600{
    font-weight: 600;
}

.font700{
    font-weight: 700;
}

.font800{
    font-weight: 800;
}

.font900{
    font-weight: 900;
}

.menu-font-size{
    font-size: 4em;
}

.divider{
    width: 3%;
    border: 1px solid black;
    font-size: 2.2em;
}

.divider-degree{
    border-left: 2.5px solid black;
    height: 9vh;
    align-self: center;
}

.full-page{
    height: 100%;
}

.full-page-skills{
    height: 81%;
}

.sizeL{
    font-size: 3.5em;
    padding-bottom: 0.4rem;
}

.divider-menu{
    visibility: hidden;
    opacity: 0;
    border: 1px solid white;
}

.span-cursor{
    cursor: context-menu;
}

/*
.font-quick{
    font-family: 'Quicksand', sans-serif;
}
*/

.main-title{
    align-items: center;
    text-align: center;
    width: 8rem;
    height: 100%;
    position: absolute;
}

.main-title-details{
    font-weight: 900;
    font-size: 1.5rem;
    opacity: 0.35;
}

.main-title-details-menu{
    font-weight: 900;
}

.main-title-letters{
    border: 2px solid rgba(0, 0, 0,0.35);
    width: 44%;
    cursor: pointer;
}

.main-title-letters-details{
    padding: 2rem 0 2rem 0;
    opacity: 0.35;
    font-size: 1.3rem;
    background-color: transparent;
    transition: all 0.6s ease-out;
}

.main-title-letters-details:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    opacity: 1;
    background-color: #FFFFFF;
}

.total-number{
    font-size: 1.4rem;
}

.main-title-letters-item{
    margin: 0.3rem;
}

.main-number{
    opacity: 1;
    font-size: 2rem;
    letter-spacing: 2px;
}

.divider-nr-pages{
    width: 13%;
    border: 1.5px solid black;
    margin: 1.2rem 0 1.2rem 0;
    opacity: 0.35;
    transform: rotate(90deg);
}

.pagination{
    align-items: center;
    text-align: center;
    width: 8rem;
    height: 100%;
    position: absolute;
    right: 0;
}

/* pages */

#menu-letter{
    opacity: 0;
}

#img-menu-1{
    display: none;
}

.background{
    height: 100vh;
    background: linear-gradient(to top , rgb(97,144,232) , rgb(165,190,232));
    overflow-y: hidden;
    overflow-x: hidden;
    /*filter: blur(5px);*/
}
.welcome-page{
    display: block;
    opacity: 1;
}

.skills{
    position: relative;
    top: 23.6%;
    display: none;
    opacity: 0;
    z-index: 0;
    justify-content: space-evenly;
}

.menu-content{
    position: relative;
    top: 5%;
    z-index: 1;
    height: 15.5vh;
    font-family: 'Quicksand', sans-serif;
}
.menu{
    height: 9rem;
    background-color: white;
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 4.2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.menu-img{
    position: absolute;
    align-items: center;
    margin-top: -0.1rem;
}

.menu-width{
    width: 6.5rem;
}

.menu-skills{
    align-items: center;
    text-align: center;
    width: 12.5rem;
    position: relative;
    top: 35%;
}

.menu-background-color{
    visibility: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.70;
    background-color: rgb(97,144,232);
}

.background-menu{
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    align-items: baseline;
    justify-content: space-evenly;
}

.blur-background{
    height: 101%;
    position: relative;
    bottom: 16%;
}

.icon-menu-close{
    visibility: hidden;
    opacity: 0;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    cursor: pointer;
}

.icon-black-left{
    align-self: center;
    width: 7.5px;
    margin-right: -0.3rem;
}

.icon-black-right{
    align-self: center;
    width: 7.5px;
    margin-left: -0.3rem;
}

.icon-white-left{
    align-self: center;
    width: 7.5px;
    margin: 0 0.1rem -0.3rem 0.1rem;
}

.icon-white-right{
    align-self: center;
    width: 7.5px;
    margin: 0 0 -0.3rem 0.1rem;
}

.icon-white{
    height: 15rem;
    background-color: white;
    border-bottom-left-radius: 70px;
    border-top-left-radius: 70px;
    width: 3.2rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 1;
}

.icon-white-position{
    position: fixed;
    bottom: -12%;
    margin-left: 2.4rem;
}

.icon-white2{
    height: 14.5rem;
    background-color: white;
    border-bottom-right-radius: 70px;
    border-top-right-radius: 70px;
    width: 3.2rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 1;
}

.icon-white2-position{
    position: fixed;
    right: 0;
    margin-right: 2.4rem;
    top: -12%;
}

.icon-menu{
    visibility: visible;
    width: 2.9rem;
    height: 2rem;
    transition: all 2ms ease-out;
    cursor: pointer;
}

.icon-menu:hover{
    width: 3rem;
    height: 2.1rem;
}

.icon-menu-1{
    visibility: visible;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: all 2ms ease-out;
}
/*
.icon-menu-1:hover{
    width: 2.6rem;
    height: 2.6rem;
}
*/
.icon-rotate{
    transform: rotate(180deg);
}

.page-content{
    visibility: hidden;
    opacity: 0;
    text-align: center;
    position: relative;
    top: 35%;
}

.percentages{
    visibility: visible;
    opacity: 1;
    justify-content: space-evenly;
    z-index: 0;
    width: 100%;
}

.welcome-title{
    font-size: 9rem;
    letter-spacing: 3.5px;
}

.welcome-description{
    font-size: 2.9rem;
}

.skills-title{
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
    align-self: center;
    font-size: 3.8em;
    font-weight: 700;
    color: #F9F9F9;
    text-align: center;
    z-index: 1;
    letter-spacing: 0.015em;
}

.skills-title-item{
    height: 19rem;
    justify-content: space-evenly;
}

.skills-item1-position{
    position: relative;
    left: 3rem;
}

.skills-item2-position{
    position: relative;
    right: 2.5rem;
}

.title{
    position: relative;
    bottom: 1rem;
}

.front-percentage{
    position: relative;
    bottom: 5%;
}

.same-percentage{
    position: relative;
    bottom: -2%;
}

.percentage-number{
    font-size: 0.5em;
    opacity: 0.75;
    color: #2E6FE8;
}

.number-1{

}

.number-2{
    position: relative;
    top: -1rem;
}

.number-3{
    position: relative;
    top: -0.4rem;
}
/*
.skills-title-animator{
    padding-left: 6rem;
}


.skills-title-end{
    padding-right: 5.6rem;
}
*/
.skills-sub-title{
    font-size: 0.52em;
    position: relative;
    top: 1rem;
}

.percentages-back{
    justify-content: space-evenly;
    position: relative;
    bottom: 16.3vh;
}

.percentages-back-item{
    min-width: 8%;
    height: 16vh;
    border-radius: 220px;
    border: 3px solid rgba(46,111,232,0.5);
}

.back-1{
    position: relative;
    left: -0.2vw;
}

.back-2{
    margin-left: -0.4rem;
}

/* wave animation */

.wave-animation{
    width: 12rem;
    height: 12rem;
    border-radius: 220px;
    border: 3px solid rgba(46,111,232,0.5);
}

.wave {
    fill: #2E6FE8;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #2E6FE8;
}

/* wave animation */

.degree{
    justify-content: space-evenly;
    align-self: center;
    width: 100%;
}

.degree-img{
    background: url("../imgs/leo.png") no-repeat center;
    background-size: 102%;
    width: 14rem;
    border-radius: 298px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.education{
    justify-content: space-evenly;
    height: 22vh;
    align-self: center;
    text-align: center;
    font-size: 1.2em;
}

/*PHOTO*/
.st0{clip-path:url(#XMLID_3_);fill:none;stroke:#FFFFFF;stroke-width:9;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

.st1{clip-path:url(#XMLID_3_2);fill:none;stroke:#FFFFFF;stroke-width:9;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

.st0{
    /*
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
*/
    opacity:1;
}

.st0{
    /*
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
*/
    opacity:1;
}
/*PHOTO*/

.projects{
    display: none;
    opacity: 0;
    z-index: 0;
}

.projects-menu{
    width: 21rem;
    height: 21rem;
    margin: auto;
    position: relative;
    top: 47.5%;
    z-index: 1;
}

.projects-items{
    width: 100%;
    height: 50%;
}

.projects-items-2{
    margin-top: 1.1rem;
}

.projects-item{
    width: 50%;
    height: 95%;
    border: 2px solid white;
    margin: 0.7rem;
    border-radius: 8px;
    align-items: center;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}

.bio-img{
    width: 63%;
}

#animal-busters{
    visibility: visible;
    opacity: 1;
}

#films{
    visibility: visible;
    opacity: 1;
}

#bioliving{
    visibility: visible;
    opacity: 1;
}

#cubo{
    visibility: visible;
    opacity: 1;
}

#menu-title-1{
    visibility: visible;
    opacity: 1;
}

#menu-title-2{
    visibility: visible;
    opacity: 1;
}

#bioliving-link{
    color: #73B219;
}

#cubo-link{
    color: #F79868;
}

#films-link{
    color: black;
}

#animal-busters-link{
    color: #0173C3;
}

.films-img{
    width: 49%;/*49*/
}

.cubo-img{
    width: 45%;
}

.busters-img{
    width: 69%;
    opacity: 1;
}

.animal-busters-keywords{
    width: 46%;
    height: 50%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    font-size: 1.5rem;
}

.animal-busters-keywords-item1{
    position: relative;
    bottom: 49%;
}

.animal-busters-keywords-item2{
    position: relative;
    top: 49%;
}

.animal-busters-icons{
    display: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    bottom: 5%;
    /*top: 95%*/
    align-items: center;
}

.animal-busters-p{
    display: none;
    opacity: 0;
    width: 84%;
    position: absolute;
    text-align: center;
    padding-top: 2.5rem;
    font-size: 1.06em;
    margin: 0;
}

.animal-busters-icon{
    width: 3%;
    padding-right: 0.3rem;
}

.animal-busters-link{
    align-self: center;
    font-weight: 700;
    font-size: 1.4em;
    transition: font-size 2ms ease-out;
    cursor: pointer;
    position: relative;
}
/*
.animal-busters-link:hover{
    font-size: 1.5rem;
}
*/
.contact{
    display: none;
    opacity: 0;
    z-index: 0;
}

.contact-img{
    background: url("../imgs/leo.png") no-repeat center;
    background-size: 102%;
    margin: auto;
    width: 14rem;
    border-radius: 298px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    z-index: 2;
    position: relative;
}

.animation-img{
    position: relative;
    top: 0.2rem;
}


.contact-link{
    align-items: center;
    color: white;
    margin-top: 1rem;
    position: relative;
    top: 1.5rem;
}

.contact-link-span{
    visibility: hidden;
    opacity: 0;
    font-weight: 800;
    font-size: 2rem;
    padding: 0.1rem;
    transition: font-size 2ms ease-out;
    cursor: pointer;
}

.contact-link-span{
    visibility: hidden;
    opacity: 0;
    font-weight: 800;
    font-size: 2.2rem;
}

.contact-link-line{
    border-radius: 192px;
    background-color: white;
    height: 0.3rem;
    margin: 0.25rem;
}

.line1{
    visibility: hidden;
    opacity: 0;
    width: 3.4rem;
}

.line2{
    visibility: hidden;
    opacity: 0;
    width: 2.5rem;
    margin-right: -1.3em;
}

.line3{
    visibility: hidden;
    opacity: 0;
    width: 2rem;
    margin-right: 1.5rem;
}

.line4{
    visibility: hidden;
    opacity: 0;
    width: 1.7rem;
    margin: 0.2rem -0.2rem 0.2rem 0.2rem;
}

.contact-elements{
    position: relative;
    top: 35%;
}

.social-media{
    position: relative;
    bottom: 7rem;
    z-index: 0;
    /*
    position: relative;
    bottom: 7rem;*/

}

.contact-social-img{
    width: 4.5rem;
    height: 4.5rem;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
}

.facebook-space{
    background: white url("../imgs/face.png") no-repeat center;
    background-size: 55%;
    position: relative;
    left: 7rem;
    bottom: 7rem;
    margin-right: 8.5em;
}

.insta-space{
    background: white url("../imgs/insta.png") no-repeat center;
    background-size: 60%;
    position: relative;
    right: 7rem;
    bottom: 7rem;
    margin-left: 8.5em;
}

/* VIDEOS */

.video-animal-busters{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
    align-self: center;
    opacity: 0.75;
}

.background-video{
    visibility: hidden;
    opacity: 0;
}

/* VIDEOS */

.email-me:focus{
    outline: 0;
}

/* MEDIA QUERIES */


@media (min-width: 1200px) {

    .wave-animation {
        width: 8rem;
        height: 8rem;
    }

    .skills-title{
        font-size: 3em;
    }

    .skills-title-item{
        height: 15rem;
    }

    .education{
        position: relative;
        left: 6%;
        font-size: 1rem;
    }

    .degree-img{
        position: relative;
        right: 5%;
        width: 11.7rem;
    }

    .skills{
        position: relative;
        top: 26.5%;
    }

    .full-page-skills{
        height: 75%;
    }

    .menu-content{
        top: 5%;
    }

    .projects-menu{
        width: 22.5rem;
        height: 20.5rem;
        top: 33.5%;
    }

    .animal-busters-p{
        font-size: 0.93rem;
    }

    .animal-busters-icon{
        width: 2.5%;
        /*width: 2.2%;*/
    }

    .menu-skills{
        width: 12.5rem;
    }

    .welcome-title{
        font-size: 8.5rem;
    }

    .divider{
        font-size: 2em;
    }

    .welcome-description{
        font-size: 2.7rem;
    }

    .degree{
        position: relative;
        top: 0.5rem;
    }

    .menu-font-size {
        font-size: 3.5em;
    }

    .menu {
        height: 8.1rem;
    }

    .menu-width {
        width: 5.8rem;
    }

    .contact-elements{
        position: relative;
        top: 35%;
    }

    .contact-img{
        width: 15rem;
    }

    .icon-menu-1{
        width: 2.5rem;
        height: 2.5rem;
    }

    .icon-menu{
        visibility: visible;
        width: 2.9rem;
        height: 2rem;
    }

    .icon-menu-close{
        width: 2.5rem;
        height: 2.5rem;
    }

    .facebook-space{
        left: 7rem;
        bottom: 7rem;
    }

    .insta-space{
        right: 7rem;
        bottom: 7rem;
    }

    .social-media {
        bottom: 8rem;
    }

    .contact-link{
        top: 1rem;
    }

    .sizeL {
        font-size: 3.15rem;
    }

    .animal-busters-keywords-item1{
        font-size: 1.5em;
    }

    .animal-busters-keywords-item2{
        font-size: 1.5em;
    }

    .animal-busters-keywords{
        font-size: 0.95rem;
    }

    .contact-link-line{
        height: 0.3rem;
    }
}

@media (min-width: 1800px) {

    .menu-content {
        top: 6%;
    }

    .main-title {
        width: 9rem;
    }

    .pagination {
        width: 9rem;
    }

    .icon-white-position {
        margin-left: 2.9rem;
    }

    .icon-white2-position {
        margin-left: 2.9rem;
    }

    .welcome-title {
        font-size: 10rem;
    }

    .welcome-description {
        font-size: 3.5rem;
    }

    .menu-font-size {
        font-size: 4em;
    }

    .menu-width {
        width: 6.5rem;
    }
    .menu {
        height: 9rem;
    }

    .menu-skills {
        width: 14rem;
    }

    .main-title-letters-details {
        font-size: 1.7rem;
    }

    .skills-title {
        font-size: 4em;
        width: 96%;
    }

    .skills-title-item {
        height: 20rem;
    }

    .same-percentage {
        position: relative;
        bottom: 4%;
    }

    .front-percentage {
        position: relative;
        bottom: 9%;
    }

    .wave-animation {
        width: 10rem;
        height: 10rem;
    }

    .skills {
        position: relative;
        top: 23.5%;
    }

    .degree {
        position: relative;
        top: 0.85rem;
    }

    .education {
        font-size: 1.3rem;
    }

    .sizeL {
        font-size: 4rem;
    }

    .degree-img {
        width: 14.3rem;
    }

    .projects-menu {
        width: 25.5rem;
        height: 23.5rem;
        top: 33.5%;
    }

    .animal-busters-keywords-item1 {
        font-size: 1.8em;
    }

    .animal-busters-keywords-item2 {
        font-size: 1.8em;
    }

    .menu-width{
        width: 6.5rem;
    }

    .menu-img {
        margin-top: 0;
    }

    .contact-img {
        width: 18rem;
    }

    .icon-menu-1 {
        padding: 0.7rem;
    }

}


 /*MEDIA QUERIES */

